In [2]:
import pandas as pd

# Rating Dataset

In [19]:
# reading the rating.data file 

ratings = pd.read_csv('Dataset/ratings.dat', sep = '::', engine = 'python', encoding = 'latin-1', names = ['user_id', 'movie_id', 'rating', 'timestamp'])

In [20]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [24]:
#Finding the maximum user_id in the ratings
max_userid = ratings['user_id'].drop_duplicates().max()
# finding the maximum movie_id in the ratings
max_movieid = ratings['movie_id'].drop_duplicates().max()


print(f"Maximum Users: {max_userid}")
print(f"Maximum Movies:{max_movieid}")

Maximum Users: 6040
Maximum Movies:3952

In [26]:
print(f"length of ratings dataset{len(ratings)}")

length of ratings dataset1000209

In [32]:
# finding Null and duplicate values
print("total null entries")
print(ratings.isna().sum())

print("Duplicate entries : ", ratings.duplicated().sum())


# No null and duplicates found

total null entries
user_id      0
movie_id     0
rating       0
timestamp    0
dtype: int64
Duplicate entries :  0

In [67]:
# Saving to rating.csv
ratings.to_csv("Dataset/ratings.csv", 
               header=True, 
               encoding='latin-1', 
               columns=['user_id', 'movie_id', 'rating', 'timestamp'], index = False)
print ('Saved to ratings.csv successfully')

Saved to ratings.csv successfully

# Users datasets

In [38]:
users = pd.read_csv("Dataset/users.dat", sep = '::', engine = 'python' ,encoding = 'latin-1',  names=['user_id', 'gender', 'age', 'occupation', 'zipcode'])

In [39]:
users.head()

   user_id gender  age  occupation zipcode
0        1      F    1          10   48067
1        2      M   56          16   70072
2        3      M   25          15   55117
3        4      M   45           7   02460
4        5      M   25          20   55455

In [47]:
users['age'].max()
# Print the total occurrences of each unique age in the 'age' column
age_counts = users['age'].value_counts()

print(age_counts)

age
25    2096
35    1193
18    1103
45     550
50     496
56     380
1      222
Name: count, dtype: int64

In [42]:
users['occupation'].max()

np.int64(20)

In [48]:
# Specify User's Age and Occupation Column
AGES = { 1: "Under 18", 18: "18-24", 25: "25-34", 35: "35-44", 45: "45-49", 50: "50-55", 56: "56+" }
OCCUPATIONS = { 0: "other or not specified", 1: "academic/educator", 2: "artist", 3: "clerical/admin",
                4: "college/grad student", 5: "customer service", 6: "doctor/health care",
                7: "executive/managerial", 8: "farmer", 9: "homemaker", 10: "K-12 student", 11: "lawyer",
                12: "programmer", 13: "retired", 14: "sales/marketing", 15: "scientist", 16: "self-employed",
                17: "technician/engineer", 18: "tradesman/craftsman", 19: "unemployed", 20: "writer" }


# creating new column for more readability
users['age_desc'] = users['age'].map(AGES)
users['occ_desc'] = users['occupation'].map(OCCUPATIONS)

In [52]:
print(users[['age_desc','occ_desc']]) # seems good

      age_desc                occ_desc
0     Under 18            K-12 student
1          56+           self-employed
2        25-34               scientist
3        45-49    executive/managerial
4        25-34                  writer
...        ...                     ...
6035     25-34               scientist
6036     45-49       academic/educator
6037       56+       academic/educator
6038     45-49  other or not specified
6039     25-34      doctor/health care

[6040 rows x 2 columns]

In [53]:
# finding null entries 
users.isna().sum() # --> no null entries found

user_id       0
gender        0
age           0
occupation    0
zipcode       0
age_desc      0
occ_desc      0
dtype: int64

In [65]:
# Saving to users.csv
users.to_csv("Dataset/users.csv", header = True, encoding = 'latin-1',
             columns=['user_id', 'gender', 'age', 'occupation', 'zipcode', 'age_desc', 'occ_desc'], index = False)
print ("Saved to users.csv successfully!")

Saved to users.csv

# movies Dataset

In [55]:
movies = pd.read_csv("Dataset/movies.dat", sep = '::', engine = 'python' ,encoding = 'latin-1',  
                     names=['movie_id', 'title', 'genres'])

In [56]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [59]:
movies.info() # no null entries found

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [60]:
movies.duplicated().sum() # no duplicate entries found

np.int64(0)

In [61]:
print(len(movies))

3883

In [64]:
movies.dtypes

movie_id     int64
title       object
genres      object
dtype: object

In [66]:
# saving to movies.csv
movies.to_csv("Dataset/movies.csv", header = True, index = False, columns=['movie_id', 'title', 'genres'])

print("Saved to movies.csv successfully!")

Saved to movies.csv successfully!